body.dated-yet-pricey div.main { background-color: #000; }

body.dated-yet-pricey .output_txt_cls { background-color: #bbc494; }

body.dated-yet-pricey button.num {
	background-color:#d8d8df;
	#000;
}
body.dated-yet-pricey button.num:hover		{ background-color:#e8e8e8; }

body.dated-yet-pricey button.op               { background-color:#5c68d5; color: #fff; }
body.dated-yet-pricey button.op:hover			{ background-color:#7c88f5; }
body.dated-yet-pricey button.specop			{ background-color:#5c68d5; color: #fff; }
body.dated-yet-pricey button.specop:hover		{ background-color:#7c88f5; }

body.dated-yet-pricey button.func             { background-color:#484848; color: #fff; }
body.dated-yet-pricey button.func:hover       { background-color:#686868; }

body.dated-yet-pricey button.var              { background-color:#29804d; color: #fff; }
body.dated-yet-pricey button.var:hover        { background-color:#49a06d; }

body.dated-yet-pricey button.meta				{
	background-color:#5c68d5;
	color:#fff;
}
body.dated-yet-pricey button.meta:hover		{ background-color:#7c88f5; }

body.dated-yet-pricey button.btn_important {
	background-color:#ff7800;
	color:#000;
}
body.dated-yet-pricey button.btn_important:hover	{
	background-color:#ff9820;
}
